@using PCITC.OA.Model
@model PCITC.OA.Model.UserInfo

@Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
@Scripts.Render("~/Scripts/jquery.validate.min.js")
@Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")

@using (Html.BeginForm("Create", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
     <table>
         <tr>
             <td>@Html.DisplayNameFor(u => u.Name)</td>
             <td>
                 @Html.TextBoxFor(u => u.Name)
                 @*@Html.ValidationMessageFor(u => u.Name)*@
             </td>
         </tr>
         <tr>
             <td>@Html.DisplayNameFor(u => u.Passwd)</td>
             <td>
                 @Html.PasswordFor(u => u.Passwd)
                 @*@Html.ValidationMessageFor(u => u.Name)*@
             </td>
         </tr>
         <tr>
             <td>@Html.DisplayNameFor(u => u.Gender)</td>
             <td>
                 @Html.RadioButtonFor(u => u.Gender, "男")男
                 @Html.RadioButtonFor(u => u.Gender, "女")女
                 @*@Html.ValidationMessageFor(u => u.Name)*@
             </td>
         </tr>
         <tr>
             <td>@Html.DisplayNameFor(u => u.Phone)</td>
             <td>
                 @Html.TextBoxFor(u => u.Phone)
                 @*@Html.ValidationMessageFor(u => u.Phone)*@
             </td>
         </tr>
         <tr>
             <td colspan="2">
                 <input type="submit" value="注册"/>
             </td>
         </tr>
     </table>
}

