@model PCITC.OA.Model.UserInfo
<h2>Delete</h2>

@using (Html.BeginForm("Delete", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <legend>UserInfo</legend>
    <fieldset>
        <div class="display-lable">
            @Html.DisplayNameFor(model => model.Id)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Id)
        </div>
        <div class="display-lable">
            @Html.DisplayNameFor(model => model.Name)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Name)
        </div>
        <div class="display-lable">
            @Html.DisplayNameFor(model => model.Gender)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Gender)
        </div>
        <div class="display-lable">
            @Html.DisplayNameFor(model => model.Phone)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Phone)
        </div>
    </fieldset>
    <p>
        <input type="submit" value="删除"/> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
