@model PCITC.OA.Model.UserInfo

<h2>Details</h2>

<fieldset>
    <legend>UserInfo</legend>
    <div class="display-lable">
        @Html.DisplayNameFor(model => model.Id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Id)
    </div>
    <div class="display-lable">
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
    <div class="display-lable">
        @Html.DisplayNameFor(model => model.Passwd)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Passwd)
    </div>
    <div class="display-lable">
        @Html.DisplayNameFor(model => model.Gender)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Gender)
    </div>
    <div class="display-lable">
        @Html.DisplayNameFor(model => model.Phone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phone)
    </div>
</fieldset>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

